
@{
    ViewBag.Title = "IF E-Learningシステム";
}

<body>
    <div id="main" class="page">
        <h2>データ管理</h2>
        @Html.ActionLink("ユーザー情報", "EditUser")
        <br />
        @Html.ActionLink("パスワードのリセット", "ResetPassword")
        <br />
        @Html.ActionLink("カテゴリ名編集", "EditCategories")
        <br />
        @Html.ActionLink("課題編集", "EditSubject", new { categoryID = ViewData["categoryID"] })
        <br />
        @Html.ActionLink("問題", "Index", "Question")
        <br />
        <small>→@Html.ActionLink("CSVファイルで追加", "InsertQuestion")<br /></small>

        <h2>レポート</h2>
        @Html.ActionLink("課題受験回数", "Level", new { categoryID = ViewData["categoryID"] })
        <br />
        @Html.ActionLink("受験者到達度", "Progress", new { categoryID = ViewData["categoryID"] })
        <br />
        @Html.ActionLink("受験者履歴", "DisplayUsers")
    </div>
</body>
