@model QuestionManager.Models.AdminModels.SubjectsData
@{
    ViewBag.Title = "IF E-Learningシステム";
}


<body>
    <div id="main" class="page">
        <h2>
            課題編集
        </h2>

        @if (Model.Categories != null)
        {
            <ul>
                @foreach (var n in Model.Categories)
                {
                    <li>@Html.ActionLink(n.CategoryName, "EditSubject", new { categoryID = n.CategoryID })</li>
                }
            </ul>


            using (Html.BeginForm())
            {
                <input type="hidden" name="subjectID" id="subjectID" />
                @:課題の1日受験回数制限：@ViewData["LimitExam"]
                <input type="submit" name="submit_le" value="変更"><br />
                @:課題の合格点:@Html.TextBox("PassingMark", ViewData["PassingMark"], new { style = "width:40px" })/ 100点
                <input type="submit" name="submit_pm" value="更新" /><br />
                @:確認テストの合格点：@Html.TextBox("FinalPassingMark", ViewData["FinalPassingMark"], new { style = "width:40px" })/ 100点
                <input type="submit" name="submit_fpm" value="更新" /><br />
                <br />
                if (ViewData["message"] != null)
                {
                    <h3>
                        @ViewData["message"]
                    </h3>
                }
                <table>
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                課題名
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.Subjects.Count; i++)
                            {

                                // id用文字列
                                string subjectID = "subjectID" + i.ToString();
                                string c = "c" + i.ToString();
                                string s = "s" + i.ToString();
                                string del = "del" + i.ToString();
                                string l = "l" + i.ToString();
                                string it = "i" + i.ToString();
                                string d = "d" + i.ToString();
                                string cid = "cid" + i.ToString();
                                string t = "t" + i.ToString();

                                <tr>
                                    <td>
                                        <label id="@subjectID" style="display: none;">@Model.Subjects[i].SubjectID</label>
                                        <input id="@c" type="button" value="編集" onclick="changeTextBox(@i);" />
                                        <input id="@s" style="display: none;" type="button" value="変更" onclick="setTextBox(@i);" />
                                        <input id="@del" type="submit" name="submit" value="削除" onclick="deleteSubject(@Model.Subjects[i].SubjectID);" />
                                    </td>
                                    <td>
                                        <label id="@l">@Model.Subjects[i].SubjectName</label>
                                        <input type="text" id="@it" name="changeSubject" value="" style="display: none;" onfocus="focusText('@it');" />
                                        <input id="@d" type="hidden" name="subjectID" value="@Model.Subjects[i].SubjectID" />
                                        <input id="@cid" type="hidden" name="categoryID" value="@Model.Subjects[i].CategoryID" />
                                    </td>
                                    <td>
                                        制限時間：
                                        <input type="hidden" name="allSubjectID" value="@Model.Subjects[i].SubjectID" />
                                        <input style="width:40px" type="text" id="@t" name="timeLimit" value="@Model.Subjects[i].TimeLimit" onfocus="focusText('i:@i');" />分
                                        <input type="submit" name="submit_time" value="変更" onclick="document.getElementById('subjectID').setAttribute('value', @Model.Subjects[i].SubjectID);" />
                                    </td>
                                    <td>
                                        @if (Model.Subjects.Count == 1)
                                        {
                                        }
                                        else if (i == 0)
                                        {
                                            <input type="submit" name="submit" value="▼" style="font-size: 5pt" onclick="document.getElementById('subjectID').setAttribute('value', '@Model.Subjects[i].SubjectID');" />
                                        }
                                        else if (i == Model.Subjects.Count - 1)
                                        {
                                            <input type="submit" name="submit" value="▲" style="font-size: 5pt" onclick="document.getElementById('subjectID').setAttribute('value', '@Model.Subjects[i].SubjectID');" />
                                        }
                                        else
                                        {
                                            <input type="submit" name="submit" value="▲" style="font-size: 5pt" onclick="document.getElementById('subjectID').setAttribute('value', '@Model.Subjects[i].SubjectID');" /><br />
                                            <input type="submit" name="submit" value="▼" style="font-size: 5pt" onclick="document.getElementById('subjectID').setAttribute('value', '@Model.Subjects[i].SubjectID');" />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                        <tr>
                            <td>
                                <input type="submit" name="submit" value="追加" />
                            </td>
                            <td>
                                @Html.TextBox("newSubject", null, new { id = "newSubject", autofocus = "autofocus", onfocus = "focusText('newSubject')" })
                            </td>
                        </tr>
                    </tbody>
                </table>


                @:確認テストの制限時間：
                <input type="hidden" name="allSubjectID" value="@ViewData[" FinalID"]" />
                <input style="width:40px" type="text" name="timeLimit" value="@ViewData["FinalTimeLimit"]" ; />
                @:分
                <input type="submit" name="submit_finalTime" value="変更" onclick="document.getElementById('subjectID').setAttribute('value', @ViewData[" FinalID"]);" />


            }

            @section Scripts{
                <script type="text/javascript">
                    function changeTextBox(id) {
                        // 課題名を編集するためにテキストボックスを表示する
                        // HACK: 空白が発生する(元のLabelを引き継いでいる？)
                        // HACK: subjectのScript未設定
                        $('#l' + id).css('display', 'none');
                        $('#i' + id).val($('#l' + id).text()).css('display', '').focus();
                        // 決定ボタンを表示
                        $('#c' + id).css('display', 'none');
                        $('#s' + id).css('display', '');
                    }

                    function setTextBox(id) {
                        var change = $('#i' + id).val();
                        var sid = $('#d' + id).val();
                        var button = $('#s' + id).val();
                        var cid = $('#cid' + id).val();
                        var url = '/Admin/EditSubject?categoryID=' + cid;
                        // 課題名変更の決定
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                changeSubject: change,
                                subjectID: sid,
                                button: button,
                                id: id
                            },
                            success: function (id) {
                                // 課題名の変更確定
                                $('#l' + id).text($('#i' + id).val()).css('display', '');
                                $('#i' + id).css('display', 'none');
                                // 編集ボタンを表示
                                $('#s' + id).css('display', 'none');
                                $('#c' + id).css('display', '');
                            },
                            error: function () {
                                // 失敗
                                // 課題名の変更なし
                                $('#l' + id).css('display', '');
                                $('#i' + id).css('display', 'none');
                                // 編集ボタンを表示
                                $('#s' + id).css('display', 'none');
                                $('#c' + id).css('display', '');
                                // アラート
                                alert("課題名の変更に失敗しました。");
                            }
                        });
                    }

                    function deleteSubject(id) {
                        if (window.confirm('削除してよろしいですか？')) {
                            document.getElementById('subjectID').setAttribute('value', id);
                            return true;
                        }
                        else {
                            window.alert('課題の削除がキャンセルされました');
                            return false;
                        }
                    }

                    function focusText(id) {
                        document.getElementById(id).select();
                    }
                </script>
            }
        }
        else
        {
            <p>データがありません。</p>
        }
    </div>
</body>