@model QuestionManager.Models.ChangePasswordViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>パスワードの変更</title>
</head>
<body>
    <div class="page">
        <div id="main">
            <h2>パスワードの変更</h2>

            <p>
                パスワードを変更するには、次のフォームを使用します。
            </p>
            <p>
                新しいパスワードは、6 文字以上であることが必要です。
            </p>

            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "パスワードの変更に失敗しました。エラーを修正し、再試行してください。")

                @Html.AntiForgeryToken()
                <fieldset>
                    <legend>アカウント情報</legend>
                    <div class="editor-label">
                        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                        <div class="editor-field">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.OldPassword)

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="editor-field">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="editor-field">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                            </div>
                        </div>
                        <p>
                            <input type="submit" value="パスワードの変更" class="btn btn-default" />
                        </p>

                    </div>
                </fieldset>
                <div id="footer">
                </div>
            }
        </div>
    </div>
</body>
</html>